.play {
  margin: 0 auto;
}

.game {
  display: grid;
  grid-template-areas:
    '. turn-info .'
    'game-info checkers .';
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;

  margin: var(--spacing-large) 0;
}

.game-turn-info {
  grid-area: turn-info;

  width: 70%;
  margin: 0 auto;
}

.game-info {
  grid-area: game-info;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-left: auto;

  .move-log {
    height: 100%;
  }
}

.game-checkers {
  grid-area: checkers;

  margin: 0 auto;
}
