.square {
  width: 75px;
  height: 75px;
  display: grid;
  place-items: center;
}

.square--is-movable {
  position: relative;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    border: 4px dashed #70b9e9;
    animation: rotateBorder 5s linear infinite;
  }
}

.square--is-active {
  position: relative;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    border: 4px dashed #ece362;
    animation: rotateBorder 5s linear reverse infinite;
  }
}

.square--is-possible-move,
.square--is-immediate-move {
  position: relative;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #70b9e9;
    border-radius: 12px;
  }
}

.square--is-possible-move::before {
  opacity: 0.3;
}

.square--is-immediate-move::before {
  opacity: 0.6;
}

.square-light {
  background-color: #e8cfad;
  color: #000;
}

.square-dark {
  background-color: #a67d61;
}

@keyframes rotateBorder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
