.game-status {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);

  width: 100%;
  min-width: fit-content;
  max-width: 250px;
  padding: var(--spacing-large);

  border-radius: var(--border-radius-medium);
  background-color: var(--color-tertiary);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.game-status-title {
  font-size: var(--font-size-large);
  font-weight: bold;
  color: var(--color-secondary);
}

.game-status-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.game-status-item {
  display: flex;
  align-items: center;

  width: 100%;
}

.game-status-label {
  margin-right: var(--spacing-small);

  font-weight: bold;
}

.game-status-player {
  &.piece-light,
  &.piece-dark {
    .game-status-value {
      display: flex;
      align-items: center;
    }

    &::after {
      content: '';

      width: var(--spacing-medium);
      height: var(--spacing-medium);
      margin-left: auto;

      border: 1px solid #000000d2;
      border-radius: 50%;
    }
  }

  &.piece-light::after {
    background-color: #fff;
  }

  &.piece-dark::after {
    background-color: #000;
  }
}

.game-status-item-multiple,
.game-status-value-multiple {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.game-status-value-multiple {
  margin-left: var(--spacing-medium);
}

.game-status-item-accordion .game-status-label {
  cursor: pointer;

  user-select: none;
}

.game-status-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);

  width: 100%;
  max-width: 221.67px;
  min-height: calc(1.5rem + var(--spacing-small) * 2);
  height: fit-content;
  max-height: 200px;
  margin: var(--spacing-small) 0;
  padding: var(--spacing-small);
  overflow: auto;

  border-radius: var(--border-radius-medium);
  background-color: #242424e3;
  color: var(--color-tertiary);
}

.game-status-content-label {
  text-align: center;
  font-size: var(--font-size-small);
}

.game-status-move {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);

  font-size: calc(var(--font-size-small));
}

.game-status-move-label {
  --size: 1.15rem;

  display: grid;
  place-content: center;

  min-width: var(--size);
  min-height: var(--size);
  max-width: var(--size);
  max-height: var(--size);

  border-radius: 50%;
  background-color: var(--color-tertiary);
  color: #242424e3;
}

.game-status-move-value {
  display: flex;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  .game-status {
    background-color: var(--color-quaternary);
  }

  .game-status-player::after {
    border-color: #ffffffd2;
  }
}
